.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../images/team_select_back.png');
    background-size: cover;
    background-position: center;
  }
  .lineup-navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .lineupnav-left {
    display: flex;
    align-items: center;
  }
  
  .lineupnav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .lineupm-navmenu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
  
  .team-navmenu li {
    display: flex;
    align-items: center;
  }
  
  .home-logo {
    margin-left: 20px;
    height: 50px;
    width: 50px;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
  }
  
  .profile-dropbtn {
    margin-top: 10px;
    margin-right: 20px; 
    margin-bottom: 10px;
  }
  .lineup-dropdown-content {
    display: none;
    position: absolute;
    background: transparent;
    color: rgb(255, 98, 0);
    border: none;
    transition-duration: 0.4s;
    min-width: 160px;
    z-index: 1;
    left: -10px; 
  }
  
  .lineup-dropdown:hover .lineup-dropdown-content {
    display: block;
  }

h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; 
  color: black; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


label[for="gameDate"] {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center; 
  color: black; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

select#gameDate {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: 2px solid rgb(255, 98, 0); 
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(255, 98, 0); 
  transition-duration: 0.4s; 
  cursor: pointer;
}


select#gameDate:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


select#gameDate:focus {
  outline: none; 
  border-color: #ff6200; 
}

.lineup-section {
  width: 100%;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center; 
  color: black; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

label[for^="forwardPlayer"], label[for^="defensivePlayer"] {
  font-size: 18px;
  color: black; 
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


select[id^="forwardPlayer"], select[id^="defensivePlayer"] {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: 2px solid rgb(255, 98, 0); 
  box-shadow: 2px 2px 4px rgb(255, 98, 0);
  transition-duration: 0.4s; 
  cursor: pointer;
}

select[id^="forwardPlayer"]:hover, select[id^="defensivePlayer"]:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}


select[id^="forwardPlayer"]:focus, select[id^="defensivePlayer"]:focus {
  outline: none; 
  border-color: #ff6200; 
}


.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.buttons button[type="submit"] {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid rgb(255, 98, 0);
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(255, 98, 0);
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons button[type="button"] {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid rgb(255, 98, 0);
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(255, 98, 0);
  transition-duration: 0.4s;

  cursor: pointer;
  margin-left: 10px; 
}

.buttons button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #1a2833; 
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid orange; 
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); 
}


.modal-content {
  margin-bottom: 20px;
  font-size: 16px; 
  line-height: 1.5; 
}

.modal-content button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid rgb(255, 98, 0);
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(255, 98, 0);
  transition-duration: 0.4s;
  cursor: pointer;
}


.modal-content button:hover {
  background-color: #1a2833; 
}

.lineup {
  font-size: 18px;
  color: #2d3e50; 
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.notification {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  margin-top: 10px; 
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}


  
  