/*.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 25px;
    justify-content: flex-end;    align-items: center;
    border-radius: 0%;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans';
    text-transform: uppercase;
  }
  */