.container {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh; 
  overflow-y: scroll;
  background-image: url('../images/team_select_back.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.team-navmenu {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.team-navmenu li {
  display: flex;
  align-items: center;
}

.home-logo {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.profile-dropbtn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid rgb(255, 98, 0);
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(255, 98, 0);
  transition-duration: 0.4s;
  padding: 10px 20px;
  cursor: pointer;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 40px;;
}


.profile-dropdown-content {
  display: none;
  position: absolute;
  background: transparent;
  color: rgb(255, 98, 0);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition-duration: 0.4s;
  min-width: 160px;
  z-index: 1;
  right: -20px; 
  top: 100%;
}

.profile-dropdown-content form {
  padding: 10px;
}

.dropdown:hover .profile-dropdown-content {
  display: block;
}

.drop-con{
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans';
  text-transform: uppercase;
  font-size: 17px; 
  background-color: transparent;
  border: none;
  cursor:pointer;
}

.title-container {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  text-align: center;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.picture-container a {
  text-decoration: none;
}

.picture-box {
  margin: 10px;
}

.picture-box img {
  width: 200px;
  height: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.team-footer {
  background:rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.teamfooter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  

  .title-container {
    margin-top: 20px; 
  }

  .picture-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
  }

  .picture-box {
    flex: 1; 
    margin: 10px; 
  }
  
}

@media (max-width: 460px) {
  .title-container {
    margin-top: 100px; 
  }

  .picture-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .picture-box {
    margin: 10px; 
    max-width: 80%; 
  }

  .picture-box img {
    width: 100%; 
    height: auto; 
  }
}








